:root
{
    --chat-col-0: rgb(250, 180, 180); --chat-border-col-0: rgb(150, 080, 080);
    --chat-col-1: rgb(250, 250, 180); --chat-border-col-1: rgb(150, 150, 080);
    --chat-col-2: rgb(180, 250, 180); --chat-border-col-2: rgb(080, 150, 080);
    --chat-col-3: rgb(180, 250, 250); --chat-border-col-3: rgb(080, 150, 150);
    --chat-col-4: rgb(180, 180, 250); --chat-border-col-4: rgb(080, 080, 150);
    --chat-col-5: rgb(250, 180, 250); --chat-border-col-5: rgb(150, 080, 150);
    --chat-col-6: rgb(210, 250, 160); --chat-border-col-6: rgb(110, 150, 060);
    --chat-col-7: rgb(160, 250, 210); --chat-border-col-7: rgb(060, 150, 110);
    --chat-col-8: rgb(250, 210, 160); --chat-border-col-8: rgb(150, 110, 060);
    --chat-col-9: rgb(250, 160, 210); --chat-border-col-9: rgb(150, 060, 110);
}

#chat-box
{
    background-color: white;
    width: 80vw;
    height: 60vh;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: var(--secondary-color);
    border-radius: 25px;
    overflow-y: auto;
}

#chat-form
{
    margin: auto;
    width: 80vw;
    border-style: solid;
    border-width: 5px;
    border-color: var(--secondary-color);
    border-radius: 25px;
}

#chat-form .input-container
{
    margin: auto;
    width: 50%;
}

#chat-form .input-container input
{
    width: 100%;
    margin: 10px;
}

.chat-message
{
    position: relative;
    display: block;
    margin: 10px;
    background-color: var(--primary-color);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    padding-left: 15px;
}

.chat-message .chat-info
{
    position: relative;
    display: inline-block;
    width: auto;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 0.7rem;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
}

.chat-message .message
{
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid none none none;
    border-width: 2px;
    margin-top: 2px;
    padding-top: 2px;
    margin-left: 10px;
}

.chat-message.col-0
{ background-color: var(--chat-col-0); border-color: var(--chat-border-col-0); }
.chat-message.col-1
{ background-color: var(--chat-col-1); border-color: var(--chat-border-col-1); }
.chat-message.col-2
{ background-color: var(--chat-col-2); border-color: var(--chat-border-col-2); }
.chat-message.col-3
{ background-color: var(--chat-col-3); border-color: var(--chat-border-col-3); }
.chat-message.col-4
{ background-color: var(--chat-col-4); border-color: var(--chat-border-col-4); }
.chat-message.col-5
{ background-color: var(--chat-col-5); border-color: var(--chat-border-col-5); }
.chat-message.col-6
{ background-color: var(--chat-col-6); border-color: var(--chat-border-col-6); }
.chat-message.col-7
{ background-color: var(--chat-col-7); border-color: var(--chat-border-col-7); }
.chat-message.col-8
{ background-color: var(--chat-col-8); border-color: var(--chat-border-col-8); }
.chat-message.col-9
{ background-color: var(--chat-col-9); border-color: var(--chat-border-col-9); }
